# Assignment

Link for Datasets
(https://drive.google.com/drive/folders/105ftuIwN9kqyPNEEm3E6IM7LqywjyvJa?usp=sharing)

Q21. Write a pandas program to import three datasheets from a given
excel data (coalpublic2013.xlsx ) in to a single dataframe.
 
Note: Structure of three datasheets are same.

In [18]:
import pandas as pd
data1=pd.read_excel("Data sets/coalpublic2013.xlsx")
data1.head()

   Year  MSHA ID                       Mine_Name  Production  Labor_Hours
0  2013   103381            Tacoa Highwall Miner       56004        22392
1  2013   103404                Reid School Mine       28807        28447
2  2013   100759  North River #1 Underground Min     1440115       474784
3  2013   103246                      Bear Creek       87587        29193
4  2013   103451                     Knight Mine      147499        46393

Q 22. Write a pandas program to import three datasheets from a given
excel data (employee.xlsx ) into a single data frame and export the
result into new Excel file.
 
Note: Structure of three datasheets are same.

In [19]:
import pandas as pd
data1=pd.read_excel("Data sets/coalpublic2013.xlsx")
data2=pd.read_excel("Data sets/employee.xlsx")
data3=pd.read_csv("Data sets/titanic.csv")
data
data=pd.concat([data1.reset_index(drop=True),data2.reset_index(drop=True),data3.reset_index(drop=True)],sort=False)
data.to_excel("Data sets/combined.xlsx", index=False)

Q23. Write a pandas program to create the Pivot table with multiple
indexes from the data set of the titanic.csv.

In [21]:
import numpy as np
df = pd.read_csv("Data sets/titanic.csv")
result = pd.pivot_table(df, index = ["sex","age"], aggfunc=np.sum)
print(result)

              Unnamed: 15  adult_male  alone      fare  parch  pclass  sibsp  \
sex    age
female 0.75           0.0         0.0    0.0   38.5166      2       6      4
       1.00           0.0         0.0    0.0   26.8750      3       6      1
       2.00           0.0         0.0    0.0  259.4750      9      15      9
       3.00           0.0         0.0    0.0   62.6542      3       5      4
       4.00           0.0         0.0    0.0  114.1417      6      13      4
...                   ...         ...    ...       ...    ...     ...    ...
male   70.00          0.0         2.0    1.0   81.5000      1       3      1
       70.50          0.0         1.0    1.0    7.7500      0       3      0
       71.00          0.0         2.0    2.0   84.1584      0       2      0
       74.00          0.0         1.0    1.0    7.7750      0       3      0
       80.00          0.0         1.0    1.0   30.0000      0       1      0

              survived
sex    age
female 0.75          2
       1.00          2
       2.00          2
       3.00          1
       4.00          5
...                ...
male   70.00         0
       70.50         0
       71.00         0
       74.00         0
       80.00         1

[145 rows x 8 columns]

Q24. Write a Pandas program to create the Pivot table and find survival
rate by gender?

In [25]:
df = pd.read_csv('Data sets/titanic.csv')
age = pd.cut(df['age'], [0, 20, 55])
result = df.pivot_table('survived', index=['sex', age], columns='class')
print(result)

class               First    Second     Third
sex    age
female (0, 20]   0.928571  1.000000  0.510638
       (20, 55]  0.968750  0.912281  0.407407
male   (0, 20]   0.571429  0.526316  0.197368
       (20, 55]  0.440000  0.054054  0.134503

Q25. Write a pandas program to make partition each of the passengers
into 4 categories based on their age.
 
Note: Age categories- (0, 10), (10, 30), (30, 60), (60, 80)

In [26]:
df = pd.read_csv('Data sets/titanic.csv')
result = pd.cut(df['age'], [0, 10, 30, 60, 80])
print(result)

0      (10.0, 30.0]
1      (30.0, 60.0]
2      (10.0, 30.0]
3      (30.0, 60.0]
4      (30.0, 60.0]
           ...
886    (10.0, 30.0]
887    (10.0, 30.0]
888             NaN
889    (10.0, 30.0]
890    (30.0, 60.0]
Name: age, Length: 891, dtype: category
Categories (4, interval[int64]): [(0, 10] < (10, 30] < (30, 60] < (60, 80]]

Q26. Write a pandas program to create the Pivot table and find survival
rate by the gender, age of the different categories of various
classes.

In [27]:
df = pd.read_csv('Data sets/titanic.csv')
age = pd.cut(df['age'], [0, 20, 55])
result = df.pivot_table('survived', index=['sex', age], columns='class')
print(result)

class               First    Second     Third
sex    age
female (0, 20]   0.928571  1.000000  0.510638
       (20, 55]  0.968750  0.912281  0.407407
male   (0, 20]   0.571429  0.526316  0.197368
       (20, 55]  0.440000  0.054054  0.134503

Q27. Write a pandas program to create the Pivot table and calculate
number of women and men were in a particular cabin class.

In [28]:
df = pd.read_csv('Data sets/titanic.csv')
result = df.pivot_table(index=['sex'], columns=['pclass'], aggfunc='count')
print(result)

       Unnamed: 15       adult_male            age          alive  ... parch  \
pclass           1  2  3          1    2    3    1   2    3     1  ...     3
sex                                                                ...
female           0  0  0         94   76  144   85  74  102    94  ...   144
male             0  0  0        122  108  347  101  99  253   122  ...   347

       sibsp           survived            who
pclass     1    2    3        1    2    3    1    2    3
sex
female    94   76  144       94   76  144   94   76  144
male     122  108  347      122  108  347  122  108  347

[2 rows x 42 columns]

Q28. Write a pandas program to create the Pivot table and separate
the gender according to whether they travelled alone or not to get
the probability of survival

In [29]:
df = pd.read_csv('Data sets/titanic.csv')
result = df.pivot_table( 'survived' , [ 'sex' , 'alone' ] , 'class' )
print(result)

class            First    Second     Third
sex    alone
female False  0.966667  0.931818  0.416667
       True   0.970588  0.906250  0.616667
male   False  0.425532  0.277778  0.180723
       True   0.333333  0.097222  0.121212

Q29. Write a pandas program to create the Pivot table and find the
probability of survival by class, gender, solo boarding, and the port
of embarkation.

In [30]:
df = pd.read_csv('Data sets/titanic.csv')
result = df.pivot_table('survived', ['sex' , 'alone' ], [ 'embark_town', 'class' ])
print(result)

embark_town  Cherbourg                     Queenstown                   \
class            First    Second     Third      First Second     Third
sex    alone
female False  1.000000  1.000000  0.611111        1.0    NaN  0.625000
       True   0.944444  1.000000  0.800000        NaN    1.0  0.760000
male   False  0.473684  0.166667  0.500000        0.0    NaN  0.100000
       True   0.347826  0.250000  0.151515        NaN    0.0  0.068966

embark_town  Southampton
class              First    Second     Third
sex    alone
female False    0.941176  0.923077  0.327586
       True     1.000000  0.892857  0.466667
male   False    0.407407  0.300000  0.142857
       True     0.326923  0.089552  0.123762

Q30. Write a pandas program to get current date, oldest date and
number of days between Current date and the oldest date of Ufo
dataset.

In [31]:
#no ufo dataset

Q31. Write a pandas program to get all sighting days of the
unidentified flying object (ufo) between 1950-10-10 and 1960-10-
10.

Q32. Write a Pandas program to extract the year, month, day, hour,
minute, second, and weekday from unidentified flying object (UFO)
reporting date.

Q33. Write a pandas program to count year-country wise frequency of
reporting dates of the unidentified flying object(UFO).

Q34. Write a pandas program to get the difference (in days) between
documented date and reporting date of unidentified flying object
(UFO).

Q35. Write a pandas program to generate sequences of fixedfrequency dates and time spans.

Q36. Write a pandas program to manipulate and convert date times
with timezone information.

Q37. Write a pandas program to create the graphical analysis of UFO
(unidentified flying object) Sightings year.

Q38. Write a pandas program to create a comparison of the top 10
years in which the (UFO) was sighted VS each Month.

Q39. Write a pandas program to create a heatmap (rectangular data as
a colour-encoded matrix) for comparison of top 10 years in
which (UFO ) was sighted VS each Month.

Q40. Write a pandas program to create a Timewheel of Hour VS Year
comparison of the top 10 years in which the (UFO) was sighted

## Great Job!